<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="images/logo_without_text.png" alt="" width="30" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {{#if isIndex}}
                    <li class="nav-item"><a class="nav-link active" href="/">Главная</a></li>
                {{else}}
                    <li><a class="nav-link" href="/">Главная</a></li>
                {{/if}}

                {{#if isAbout}}
                    <li class="active"><a href="/about">О сервисе</a></li>
                {{else}}
                    <li><a class="nav-link" href="/about">О сервисе</a></li>
                {{/if}}
        </ul>
        <ul class="navbar-nav ml-auto">
                {{#if user}}
                    {{#if isWrite}}
                        <li class="nav-item"><a class="nav-link active" href="/write">Написать твинс</a></li>
                    {{else}}
                        <li><a class="nav-link" href="/write">Написать твинс</a></li>
                    {{/if}}
                    <li><a class="nav-link" href="/logout">Выйти</a></li>
                {{else}}
                    {{#if isLogin}}
                        <li class="nav-item"><a class="nav-link active" href="/login">Войти в аккаунт</a></li>
                    {{else}}
                        <li><a class="nav-link" href="/login">Войти в аккаунт</a></li>
                    {{/if}}
                {{/if}}
        </ul>
        </div>
    </div>
</nav>

<div class="container">
    {{#if errors.length }}
        {{#each errors}}
            <div class="mt-3 alert alert-danger" role="alert">
                {{ msg }}
            </div>
        {{/each}}
    {{/if}}

    {{#if successMessage }}
        <div class="mt-3 alert alert-success" role="alert">
            {{ successMessage }}
        </div>
    {{/if}}
</div>